@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
:global{
  div[class^="expandableWikiPart"], div[class*="expandableWikiPart"] {
    .ql-active .ql-toolbar{
      position: absolute !important;
    }
  }
}
%animation {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.expandableWikiPart {
  @extend %animation;

  .container {
    margin: 0px auto;
  }

  .textBox{
    height: inherit;
    overflow: hidden;
    mask-image: linear-gradient(to top, transparent, #FFF 30%);
    @extend %animation;
    > div{
      overflow: hidden;
    }
  }
  .textBox.isOpen{
    mask-image: none !important;

  }
}
